html, body{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-family: "Helvetica", sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #0e76bc;
    font-size: 1.2em;
    height: auto;
    width: 100%;
}

body.loginView nav {
    display: none;
}

nav .back {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 2px;
}
    nav .back svg {
        width: 30px;
        height: 30px;
    }

nav .cart{
    position: absolute;
    top: 2px;
    right: 2px;
}
    nav .cart svg {
        width: 40px;
        height: 50px;
    }

nav h1{
    text-align: center;
    margin: 0;
    padding: 12px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* mainview */
.hScroll{
    height: 150px;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}
.views .view.productView{
    margin-bottom: 60px;
}
.views .view.productView h2{
    text-align: left;
    margin: 10px 0px 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.views .view.productView h2::before{
    content: "";
    background-color: gray;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 30px;
}
.views .view.productView h3{
    text-align: center;
    margin: 5px 0px 0px 0px;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    text-overflow: ellipsis;
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
}
.hScroll img{
    height: 60px;
    width: 60px;
    margin-left: 19px;
    margin-top: -30px;
    border-radius: 40px;
    border: 2px solid rgba(147, 149, 151, 0.5);
    background-color: white;
}
.hScroll div.item{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: white;
    margin: 30px 5px 0px 5px;
    border-radius: 10px;
    border: 1px solid rgba(147, 149, 151, 0.75);
    position: relative;
    vertical-align: top;
}
.hScroll div.item .plus{
    display: inline-block;
    position: absolute;
    top: 10px;
    font-size: 25px;
    width: 45px;
    text-align: right;
    z-index: 3;
}
.hScroll div.item .minus{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    width: 45px;
    z-index: 3;
}
.hScroll div.item div{
    color: gray;
    padding: 5px 5px 0;
    white-space: normal;
    height: 35px;
    overflow: hidden;
    font-size: 9px;
    text-align: center;
    max-height: 27px;
}
.hScroll div.item span{
    color: gray;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}
.hScroll div.item span .counter{
    position: initial;
    font-weight: bold;
}
.hScroll div.item span.id{
    display: none;
}

/* cartView */
.cartView ul{
    list-style-type: none;
    padding: 10px;
}
.cartView li{
    position: relative;
}
.cartView li img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 2px solid rgba(147, 149, 151, 0.5);
}
.cartView li h3{
    position: absolute;
    top: 38px;
    margin: 0px;
    left: 110px;
    font-size: 16px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
}
.cartView li div{
    color: gray;
    position: absolute;
    right: 0px;
    top: 38px;
    font-size: 16px;
}
.cartView li hr{
    opacity: 0.2;
    margin: 15px 0px 15px 100px;
}
.cartView .total{
    font-size: 45px;
    text-align: center;
    color: darkgray;
}
.cartView .totalPrice{
    font-size: 45px;
    text-align: center;
    color: gray;
}
.views .view.cartView .buy{
    width: 130px;
    display: block;
    text-align: center;
    margin: auto;
    border: 3px solid #0e76bc;
    margin-top: 20px;
    padding: 10px;
}

.views .view.cartView .disabled {
    opacity: 0.2;
}

.mapView .map-canvas{
    height: 585px;
}
.mapView .map-info{
    position: absolute;
    border-top: 2px solid lightgray;
    z-index: 1;
    width: 100%;
    background-color: white;
    top: 603px;
    height: 200px;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
}
.mapView .map-info div{
    width: 30%;
    float: left;
    padding: 5px;
}
.views .view.mapView .code{
    width: 65px;
    text-align: center;
    border: 3px solid #0e76bc;
    position: absolute;
    right: 10px;
    padding: 0px;
    top: -80px;
    font-size: 55px;
    border-radius: 60px;
    overflow: hidden;
 }
.views .view.mapView .code img{
    width: 100%;
}

/* codeView */
.views .view.codeView {
    background: url("../img/trainblurred.jpg") left top no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto
}
.views .view.codeView img{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    margin-top: 120px;
}
.views .view.codeView div.first{
    color: white;
    margin-top: 30px;
    font-size: 16px;
}
.views .view.codeView div.second{
    color: white;
    font-size: 10px;
}
.views .view.codeView .button{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    padding: 12px 20px;
    margin-top: 82px;
    display: inline-block;
    border-radius: 5px;
    background-color: inherit;
}


.views {
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

    .views .view {
        width: 100%;
        min-height: 100%;

        padding-top: 42px;
        position: absolute;
        top: 0;
        
        background-color: #E6E7E8;
        display: none;
    }

        .views .view .button {
            padding: 20px 65px;
            background: white;
            border-radius: 4px;
            color: #0e76bc;
            text-decoration: none;
            font-size: 3em;
            opacity: 0.85;
        }

        .views .view.loginView {
            background: url("../img/trainblurred.jpg") left top no-repeat;
            background-size: cover;
            text-align: center;
            overflow: auto;
            display: none;
        }
            .views .view.loginView .button.login {
                display: none;
            }

            .views .view.loginView .logo {
                background: url("../img/TSLogo.svg");
                background-size: contain;
                background-color: white;
                border-radius: 14px;
                padding: 10px;
                width: 140px;               
                height: 140px;   
                margin: 75px auto 110px;     
                opacity: 0.85;
                display: none;     
            }



        .views .view h2 {
            text-align: center;
            color: grey;
        }

        .views .view.active {

        }
