html, body{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: aliceblue;
    height: 30px;
    width: 100%;
}
nav .back{
    position: absolute;
    top: 2px;
    left: 2px;
}
nav .cart{
    position: absolute;
    top: 2px;
    right: 2px;
}
nav h1{
    text-align: center;
}

/* mainview */
.hScroll{
    height: 250px;
    width: 100%;
    overflow: scroll;
}
.hScroll div{
    white-space: nowrap;
}
.hScroll img{
    height: 250px;
    width: 250px;
}

.views {
    position: relative;
    min-height: 100%;
    width: 100%;
}

    .views .view {
        width: 100%;
        min-height: 100%;

        position: absolute;
        top: 0;

        display: none;
    }

        .views .view h2 {
            text-align: center;
            color: grey;
        }

        .views .view.active {

        }
