html, body{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: aliceblue;
    height: 30px;
    width: 100%;
}
nav .back{
    position: absolute;
    top: 2px;
    left: 2px;
}
nav .cart{
    position: absolute;
    top: 2px;
    right: 2px;
}
nav h1{
    text-align: center;
}

/* mainview */
.hScroll{
    height: 250px;
    width: 100%;
    overflow: scroll;
}
.hScroll div{
    white-space: nowrap;
}
.hScroll img{
    height: 250px;
    width: 250px;
}