<ion-view>
    <ion-content>
        <ion-scroll direction="y" zooming="false" style="width: 100%; height: 100%">
            <div style="width: 100%; height: 700px;" >
                <ion-scroll class="aa" direction="x" zooming="false" style="width: 100%; height: 100px" on-scroll="hithere(this)">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
                <ion-scroll class="aa"  direction="x" zooming="false" style="width: 100%; height: 100px">
                    <div style="width: 600px; height: 100px;" >
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                        <img src="img/placeholder.png"/>
                    </div>
                </ion-scroll>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>